/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Roboto);

$dark: #000000;
$success: #5CB85C;
$danger: #BD4A48;
$default: #DDDDDD;
$text: #444444;

.alert {
  font-size: 14px;
}

.danger {
  color: $danger;
}

a {
  color: $text;
}

a:hover {
  text-decoration: none;
  color: $dark;
}

hr {
  padding-bottom: 0;
  margin-bottom: 0;
}

.navbar {
  background: none;
  border: none;
}

.control-label {
  top: -4px;
}

.navbar-brand {
  padding-top: 12px;

  i {
    font-size: 28px;
    color: $text;
  }
}

body {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

i {
  color: $default;
  margin-left: 10px;
  position: relative;
  left: -10px;
}

i.icon-remove {
  color: $default;
}

i.icon-remove:hover {
  color: $danger;
}

i.icon-pencil:hover {
  color: $text;
}

.completed {
  color: $success;
}

.not-completed {
  color: $default;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  padding-left: 15px;
}

.backlog-item {
  form {
    padding-top: 50px;
  }

  label {
    font-weight: normal;
  }

  i {
    padding-left: 20px;
  }
}

hr {
  height: 1px;
  border: none;
  border-top: thin dotted $default;
}

table.table {
  border-top: thin dotted $default;

  tr {
    border-bottom: thin dotted $default;

    td {
      border: none;
    }
  }
}

.archive {
  i {
    color: $text;
  }
}

.backlog, .archive {
  table.table {
    margin-top: 40px;

    tr {
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
