%h2= "This Week"
%ul
  %li="view backlog"
  %li="view backlog item"
  %li="add item to backlog"
  %li="remove item on backlog page"
  %li="remove item on item page"
  %li="edit backlog item"
  %li="complete backlog item"

