.backlog-item
  .row
    .col-lg-8.col-lg-offset-2
      = form_for @backlog_item, url: create_backlog_item_path, :html => { :role => "form", :class => "form-horizontal" } do |f|
        .form-group
          .col-lg-2.control-label
            = f.label :name
          .col-lg-8
            = f.text_field :name, :class => "form-control"

        .form-group
          .col-lg-2.control-label
          .col-lg-8
            = f.submit "Create", :class => 'btn btn-default'
