
%div.jumbotron
  %h1
    %i.icon-list
    The Backlog

  %p.lead
    An easier way to work together.

  %p.cta
    %a.btn.btn-lg.btn-success.disabled{:href => new_user_registration_path}
      Sign Up Now
