.home
  %h1
    %i.icon-list
    The Backlog

  %p.lead
    An easier way to work together.

  %p
    - if user_signed_in?
      %a.btn.btn-lg.btn-success{:href => backlog_items_path}
        View Backlog
    - else
      %a.btn.btn-lg.btn-success.disabled
        Coming Soon
