.row
  .col-lg-10.col-lg-offset-1
    %nav.navbar.navbar-default{:role => "navigation"}
      .navbar-header
        = link_to backlog_path, :class => "navbar-brand" do
          %i.icon-list

      %div.collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li
            = link_to archive_backlog_path, :id => "archive", :title => "Archive" do
              %i.icon-archive

        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          %li
            .navbar-form
              .form-group
                = link_to "New Item", new_backlog_item_path, :class => 'btn btn-success'
